/* General */

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    font-family: 'PT Sans', sans-serif;
    position: absolute;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.3rem;
}

section {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.section-header {
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.btn-live, .btn-source {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    transition: all .1s;
    font-size: .9rem;
    margin: 10px;
    border-radius: 12px;
    text-decoration: none;
}

.btn-live i, .btn-source i {
    margin-left: 6px;
}

@media only screen and (max-width: 991px) {
    .btn-live {
        border: none;
        color: white;
        background-color: #33b249;
    }

    .btn-source {
        border: none;
        color: white;
        background-color: #4681f4;
    }
}

@media only screen and (min-width: 991.1px) {
.btn-live:hover {
    box-shadow: inset 200px 0 0 #33b249;
    color: white;
}

.btn-source:hover {
    box-shadow: inset 200px 0 0 #4681f4;
    color: white;
}

.btn-live {
    border: 2px solid #33b249;
    color: black;
    background-color: white;
    box-shadow: inset 0px 0px 0px #33b249;
}

.btn-source{
    border: 2px solid #4681f4;
    color: black;
    background-color: white;
    box-shadow: inset 0px 0px 0px #4681f4;
}
}

/* Header & Navigation bar */

header {
    z-index: 2;
    background-color: #1d1f1d;
    box-shadow: 2px 2px 5px gray;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
  
#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
  
#brand a {
    color: white;
}
  
header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
header ul a {
    color: white;
}
  
header ul li {
    padding: 5px;
    margin-right: 5px;
}
  
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-right: 40px;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
.mobile-menu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 210px;
    width: 100%;
    background-color: #1d1f1d;
    box-shadow: 2px 2px 5px gray;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}

.resume-link {
    background-color: #33b249;
    padding: 4px 6px;
}
  
@media only screen and (max-width: 991px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
}

@media only screen and (max-width: 500px) {
    .section-header p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 991.1px) {
    header ul li:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

/* Hero section */

#hero {
    width: 100vw;
    height: 30vh;
    background-image: url(./images/farzad-p-xSl33Wxyc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-align: center;
    /* filter: grayscale(10); */
}

@media only screen and (max-height: 450px) {
    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 2rem;
    }

    #hero h2 {
        font-size: 1.5rem;
    }
}

#hero div {
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

#hero h2 {
    font-size: 2rem;
    text-align: center;
}

/* About section */

#about {
    box-shadow: 2px 2px 5px gray;
}

.about-container {
    width: 60%;
}

.about-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologies {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90%;
}

.technologies h3 {
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 900;
    margin: 20px 0px;
}

.tech-stack {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.technology {
    width: 6rem;
    border: 2px solid #ADD8E6;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    box-shadow: 2px 2px 5px #ADD8E6;
    background-color: white;
}

.technologies .technology i {
    font-size: 4rem;
}

.tech-used {
    margin-left: 10px;
}

.project-tech {
    font-size: 2.5rem;
    margin: 2px;
}

@media only screen and (max-width: 1200px) {
    .tech-stack {
        justify-content: flex-start;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .tech-stack {
        width: 100%;
        justify-content: center;
    }

    .technology {
        width: 4rem;
    }

    .technology span {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 991px) {
    .about-container {
        width: 80%;
    }
}

/* Skills section */

#skills {
    background-color: rgba(230, 230, 230,.4);
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 991px) {
    #skills {
        width: 100%;
    }

    .skills-container {
        width: 80%;
    }
}

/* Projects-section */

#projects {
    background-color: white;
}

#projects-introduction {
    max-width: 1000px;
    width: 80%;
}

/* Projects carousel for bigger screens */

.slideshow-container {
  border: 2.5px solid rgba(0,0,0,0.8);
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  width: 100%;
  display: none;
  height: 50vh;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide-description {
    background-color: rgba(0,0,0,0.8);
    padding-top: 4px;
    color: white;
    position: absolute;
    bottom: 0px;
}
  
.slide-description h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    display: inline-block;
}

.slide-tech-stack {
    position: absolute;
    right: 0;
    top: 4px;
    margin-right: 4px;
}

.slide-tech {
    font-size: 2.5rem;
    opacity: 2;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    min-width: 120px;
    max-width: 180px;
    background-color: #4681f4;
    border: 1px solid gray;
    line-height: 16px;
    color: white;
    text-align: center;
    padding: 4px;
    font-size: .9rem;
    border-radius: 6px;
    position: absolute;
    bottom: 125%;
    left: 40%;
    margin-left: -60px;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4681f4 transparent transparent transparent;
  }

.tooltip-text i {
    visibility: visible;
}

@media only screen and (min-width: 1050px) {
    .tooltip:hover .tooltip-text {
        visibility: visible;
    }
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

@media only screen and (max-width: 1050px) {
    .popuptip:active {
        visibility: visible;
    }
}

@media only screen and (max-width: 550px) {
    .project-tech {
        font-size: 2rem;
    }
}

.slide-description h3, p {
    padding: 8px;
}

.slide-description button {
    opacity: initial;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
  background-color: rgba(0,0,0,0.8);
}

.prev:hover, .next:hover {
  background-color: #4681f4;
}

.slide-position {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}

.dots-container {
    text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: #4681f4;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 1050px) {
    .slideshow-container {
        display: none;
    }

    .dots-container {
        display: none;
    }
}

/* Projects list for smaller screens */

#projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    width: 900px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px gray;
    transform: scale(1.05);
    background-color: white;
}

.project-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-header {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.project-information {
    width: 100%;
    min-height: 168px;
    background-color: white;
    line-height: 1.1em;
    padding-bottom: 20px;
}

.project-information p {
    padding: 10px;
}

.project-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

.project-image-container {
    max-width: 90%;
    height: 368px;
}

.project-image-container img {
    width: 100%;
    height: 90%;
    margin: 2% auto;
}

.strong {
    font-weight: 900;
}

.icon-stack {
    padding: 10px;
}

.icon-stack i {
    font-size: 32px;
}


@media only screen and (min-width: 1050px) {
    #projects ul {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .project-links {
        flex-direction: column;
    }
}

.achievements {
    text-align: left;
    list-style-type: disc;;
    word-wrap: break-word;
    padding: 0px 20px 0px 20px;
}

.achievements li {
    margin-left: 60px;
    width: 95%;
}

@media only screen and (max-width: 1150px) {
    .project {
        width: 80%;
    }

    .project-information {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .project-image-container {
        width: 100%;
        height: auto;
    }

    .achievements li {
        margin-left: 40px;
    }

    .icon-stack {
        font-size: 64px;
    }

    #projects ul li {
        margin-bottom: 10px;
    } 
}

/* Contact section */

footer {
    background-color: #1d1f1d;
    width: 100%;
    color: white;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contact-icons {
    font-size: 2rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-icons i {
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: all .1s;
}

.contact-links {
    margin-top: 10px;
}

.contact-links a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (min-width: 991.1px) {
    .contact-icons i:hover {
        transform: scale(1.2);
        color: #4681f4;
    }

    /* .contact-links {
        display: none;
    } */
}

@media only screen and (max-width: 991px) {
    .contact-heading {
        font-size: 1.5rem;
    }
    /* .contact-icons {
        display: none;
    } */
}