/* General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Montserrat', sans-serif;
}

.section-header {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

button {
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all .1s;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .btn-live {
        border: none;
        color: white;
        background-color: green;
    }

    .btn-source {
        border: none;
        color: white;
        background-color: black;
    }
}

@media only screen and (min-width: 991.1px) {
    .btn-live:hover {
    box-shadow: inset 150px 0 0 green;
    color: white;
}

.btn-source:hover {
    box-shadow: inset 150px 0 0 black;
    color: white;
}

.btn-live {
    border: 2px solid green;
    color: green;
    box-shadow: inset 0px 0px 0px green;
}

.btn-source {
    border: 2px solid black;
    color: black;
    box-shadow: inset 0px 0px 0px black;
}
}

header {
    z-index: 2;
    padding: 0 20px;
    background-color: #1d1f1d;
    width: 99%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
  
#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}
  
#brand a {
    color: #06D6A0;
}
  
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
ul a {
    color: white;
}
  
ul li {
    padding: 5px;
    margin-right: 5px;
}
  
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-right: 40px;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
.mobile-menu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 180px;
    width: 100%;
    background-color: #1d1f1d;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 991px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
}

@media only screen and (min-width: 991.1px) {
    ul li:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

/* Hero section */

.hero {
    width: 100vw;
    height: 50vh;
    background-image: url(./images/stock-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2rem;
}

/* About section */

#about {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.about-highlight {
    margin: 10px;
    font-size: 1.2rem;
}

.about-bio {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-skills {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 64px;
}

.about-skills i {
    margin: 10px;
}

@media only screen and (max-width: 991px) {
    .about-skills {
        font-size: 52px;
    }

    .about-bio {
        width: 80%;
    }
}

/* Projects-section */

#projects {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 230, 230,.4);
}

.row {
    width: 1078px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    transform: scale(1.05);
}

.column1 {
    width: 400px;
    height: 368px;
    background-color: white;
    line-height: 1.1em;
}

.column1 p {
    padding: 10px;
}

.project-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

.column2 {
    width: 678px;
    height: 368px;
}

.column2 img {
    width: 100%;
    height: 100%;
}

.strong {
    font-weight: bold;
}

.icon-stack i {
    font-size: 32px;
}

@media only screen and (max-width: 1150px) {
    .row {
        width: 80%;
        flex-direction: column-reverse;
        box-shadow: none;
    }

    .column1 {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .column2 {
        width: 100%;
        height: auto;
    }

    .icon-stack {
        font-size: 64px;
    }
}

/* Contact section */

#contact {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1d1f1d;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.contact-icons {
    font-size: 2.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-icons i {
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

@media only screen and (min-width: 991.1px) {
    .contact-icons i:hover {
        transform: scale(1.2);
        color: #06D6A0;
    }
}

@media only screen and (max-width: 991px) {
    .contact-icons {
        font-size: 2rem;
    }
}